*{
    margin: 0%;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: black;
    color: white;
    display: grid;
    place-items: center;

}

section {
    background: rgba(255, 255, 255,20%);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

p{
    font-size: 100px;
}

button{

    width: 50%;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgb(20, 20, 19);
    color: aqua;
    padding: 5px;
    font-weight: bold;

}